* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --blue: #168ce8;
    --darkblue: #0954ba;
    --lightblue: #79adf4;
    --gray: #f2f2f2;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
}




