* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.background-img-container {
    background-image: url(../img/santorini-vector.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: rgb(135, 178, 228);
    background-position: right bottom;
    font-family: "DM Sans", sans-serif;

    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;

}

.form-container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 5rem;
    
    
}

form {
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    padding: 4rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.form-row {
    display: flex;
    margin: .5rem;
}

label {
    font-size: 1.8rem;
    margin-right: 2rem;
    width: 10rem;
}

input {
    padding: 1rem;
    width: 40rem;

}

.one-way-return {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    justify-content: center;
}

h3 {
    font-size: 2.4rem;
}

button {
    margin: 2rem auto;
    padding: 1rem 4rem;
    background-color: var(--blue);
    border: none;
    color: #fff;
    font-size: 2.4rem;
    border-radius: 1rem;
}


.body-text-container {
  width: 75%;
  margin: 0 auto;
}

.body-text {
    padding: 4rem;
}

h1 {
    font-family: "DM Sans";
    font-size: 4.8rem;
    margin-bottom: 4rem;
    margin-top: 3rem;
}

p {
    font-size: 2.2rem;
    padding:  .5rem 0;
}

/***********************/
/* BEGIN MEDIA QUERIES */
/***********************/

/* 1264px */
@media(max-width: 79em) {
    h1 {
        font-size: 3.8rem;
    }

    .body-text {
        padding: 4rem 0 0 0;
    }

    p {
        font-size: 1.8rem;
    }
}

/* 1120px */
@media(max-width:70em) {
    h1{
      font-size: 3rem;
    }

    .body-text-container {
        width: 80%;
    }
}

/* 848px */
@media(max-width:53em) {
    .body-text-container{
        width: 100%;
    } 

    .form-container {
       max-width: 45rem;
       }
}

/* 672px */
@media(max-width:42em) {
    .background-img-container {
        grid-template-columns: 1fr;
        
        background-position: bottom;
    }

    .form-container {
      
    }

    .body-text {
        padding: 0;
    }

    .body-text-container {
        margin-bottom: 15rem;
        padding: 7rem;
    }
}

@media(max-width:29em) {

    form {
        padding: 2rem;
        align-items: center;
    }

    .form-container {
        margin: 10px;
        max-width: 40rem;
        padding: 0;

        padding-left: 2rem;
    }

    label {
        margin-right: 0;
        width: 4rem;
        font-size: 1.4rem;
    }

    input {
        width: 20rem;
    }

    button {
        font-size: 1.8rem;
    }

    .body-text-container {
        padding: 4rem;
    }

    h1 {
        font-size: 2.4rem;
    }

    p {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 2rem;
    }
}